@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

@media print {
  td,
  th {
    padding: 4px 6px !important;
  }
}

:root {
  --background: #f9f7ff;
  --foreground: #3e3c62;
  --card: #ffffff;
  --card-foreground: #3e3c62;
  --popover: #ffffff;
  --popover-foreground: #3e3c62;
  --primary: #6c4ff3;
  --primary-foreground: #ffffff;
  --secondary: #eee8ff;
  --secondary-foreground: #5f4bb5;
  --muted: #f5f3ff;
  --muted-foreground: #715fa7;
  --accent: #f0ecff;
  --accent-foreground: #3e3c62;
  --destructive: #d84526;
  --destructive-foreground: #ffffff;
  --border: #eee9fd;
  --input: #eee9fd;
  --ring: #6c4ff3;
  --chart-1: #6c4ff3;
  --chart-2: #9983f5;
  --chart-3: #7650cc;
  --chart-4: #8661dd;
  --chart-5: #5e49ba;
  --radius: 0.5rem;
  --sidebar: #f5f3ff;
  --sidebar-foreground: #3e3c62;
  --sidebar-primary: #6c4ff3;
  --sidebar-primary-foreground: #ffffff;
  --sidebar-accent: #f0ecff;
  --sidebar-accent-foreground: #3e3c62;
  --sidebar-border: #eee9fd;
  --sidebar-ring: #6c4ff3;
}

.dark {
  --background: #1d1b29;
  --foreground: #eeeaff;
  --card: #2a2740;
  --card-foreground: #eeeaff;
  --popover: #2a2740;
  --popover-foreground: #eeeaff;
  --primary: #9375ff;
  --primary-foreground: #1d1b29;
  --secondary: #3b3360;
  --secondary-foreground: #d5bcff;
  --muted: #3b3555;
  --muted-foreground: #ad9ae8;
  --accent: #463a67;
  --accent-foreground: #eeeaff;
  --destructive: #d84526;
  --destructive-foreground: #ffffff;
  --border: #3f3763;
  --input: #3f3763;
  --ring: #9375ff;
  --chart-1: #9375ff;
  --chart-2: #8169c4;
  --chart-3: #c38dcd;
  --chart-4: #baa55d;
  --chart-5: #e24890;
  --sidebar: #2a2740;
  --sidebar-foreground: #eeeaff;
  --sidebar-primary: #9375ff;
  --sidebar-primary-foreground: #1d1b29;
  --sidebar-accent: #463a67;
  --sidebar-accent-foreground: #eeeaff;
  --sidebar-border: #3f3763;
  --sidebar-ring: #9375ff;
}

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
